.henav-bg {
    background: rgba(100, 93, 216, 1);
    background: -moz-linear-gradient(
      left,
      rgba(100, 93, 216, 1) 15%,
      rgba(45, 204, 165, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(15%, rgba(100, 93, 216, 1)),
      color-stop(100%, rgba(45, 204, 165, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(100, 93, 216, 1) 15%,
      rgba(45, 204, 165, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(100, 93, 216, 1) 15%,
      rgba(45, 204, 165, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(100, 93, 216, 1) 15%,
      rgba(45, 204, 165, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(100, 93, 216, 1) 15%,
      rgba(45, 204, 165, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645dd8', endColorstr='#2dcca5', GradientType=1 );
  }
  
  .main-logo {
    font-family: "Lato";
    font-weight: bold;
    font-size: 24px;
    color: white !important;
    padding-left: 10.17%;
  }