<div class="row mllayout">
  <div class="col-md-12">
    <div class="page-title">
      <h1 class="d-inline-block">Delegation</h1>
      <button mat-button class="btn-health float-right" (click)="openModal({type:'delegation'})" >Delegate</button>
      <!--<button mat-button class="btn-health float-right mr-15">
        Generate QR Code
      </button>-->
    </div>
    <div class="detailtable">
      <div class="row mt-30 border-bottom ml-0 mr-0">
        <div class="col-12 pa-0">
          <h3 class="dethead">Access is given to</h3>
        </div>
      </div>
      <div class="row mt-24 detcontenthead" *ngIf="!nominees || nominees.length === 0">
        <div class="col-12 text-center">
          You have not given access to any person
        </div>
      </div>
      <div *ngIf="nominees && nominees.length > 0">
        <div class="row mt-24 detcontenthead">
          <div class="col-3">
            <p>Name</p>
          </div>
          <div class="col">
            <p>Unique ID (SSN)</p>
          </div>
          <div class="col"></div>
        </div>
        <div class="row detcontent" *ngFor="let nominee of nominees">
          <div class="col-3">
            <p>{{nominee.name}}</p>
          </div>
          <div class="col">
            <p>{{nominee.Adhaar}}</p>
          </div>
  
          <div class="col">
            <a class="view-btn" (click)="revoke(nominee.Adhaar)" >Revoke</a>
          </div>
        </div>
      </div>
    </div>

    <div class="detailtable">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-12 pa-0">
          <h3 class="dethead">Given access to me</h3>
        </div>
      </div>
      <div class="row mt-24 detcontenthead" *ngIf="!grantors || grantors.length === 0">
        <div class="col-12 text-center">
          You have not given access to any person
        </div>
      </div>
      <div *ngIf="grantors && grantors.length > 0">
        <div class="row mt-24 detcontenthead" >
          <div class="col-3">
            <p>Name</p>
          </div>
          <div class="col">
            <p>Unique ID (SSN)</p>
          </div>
          <div class="col"></div>
        </div>
        <div class="row detcontent bg-rowtable" *ngFor="let grantor of grantors">
          <div class="col-3">
            <p>{{grantor.name}}</p>
          </div>
          <div class="col">
            <p>{{grantor.Adhaar}}</p>
          </div>
  
          <div class="col">
            <a class="view-btn" (click)="openModal({type:'doctorAccess', grantor: grantor, mode: true})">Access to Doctor</a>
          </div>
          <div class="col">
            <a class="view-btn" (click)="openModal({type:'doctorAccess', grantor: grantor, mode: false})">Revoke Access to Doctor</a>
          </div>
        </div>
      </div>
      
    </div>
    <!-- <div class="col-12 text-center mt-30">
      <button mat-button class="btn-delegate">
        Cynthia revoked from your account
      </button>
    </div> -->
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>

