@import "../../../assets/scss/variables.scss";
.mat-form-field {
  width: 100%;
}
.main-auth {
  margin-top: 4%;
  .authhead {
    color: $primary-color;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
  }
  .authsignin {
    font-size: 14px;
  }
  .signupsubhead {
    h4 {
      font-size: 18px;
      font-weight: bold;
      color: #1d1b40;
    }
  }
}
