<div>
  <mat-grid-list cols="2" rowHeight="30px" class="section-header">
    <mat-grid-tile class="d-inline-block page-title">
      <h1 class="section-header_left position-absolute section-title">
        My Profile
      </h1>
    </mat-grid-tile>
    <button mat-button class="btn-health float-right" (click)="updateProfile()">Update Profile</button>
  </mat-grid-list>
  <div *ngIf="profileInfo && demographics">
    <div class="row pl-6 pb-4 border-bottom">
      <div class="col-2">
        <div>First Name</div>
        <div contenteditable="true" >{{ demographics.name[0].given[0] }}</div>
      </div>
      <div class="col-2">
        <div>Last Name</div>
        <div>{{ demographics.name[0].family }}</div>
      </div>
      <div class="col-2">
        <div>Date of Birth</div>
        <div>{{ demographics.birthDate }}</div>
      </div>
      <div class="col-2">
        <div>Gender</div>
        <div>{{ demographics.gender }}</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4 border-bottom">
      <div class="col-2">
        <div>Address Line 1</div>
        <div>{{ demographics.address[0].line[0] }}</div>
      </div>
      <div class="col-2">
        <div>Address Line 2</div>
        <div>{{ demographics.address[0].line[1] }}</div>
      </div>
      <div class="col-2">
        <div>City</div>
        <div>{{ demographics.address[0].city }}</div>
      </div>
      <div class="col-2">
        <div>State</div>
        <div>{{ demographics.address[0].state }}</div>
      </div>
      <div class="col-2">
        <div>Area Code</div>
        <div>{{ demographics.address[0].postalCode }}</div>
      </div>
      <div class="col-2">
        <div>Country</div>
        <div>{{ demographics.address[0].country }}</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4" *ngIf="profileInfo.creds.user === 'doctor'">
      <div class="col-2">
        <div>Department</div>
        <div>{{ profileInfo.clinicalData.department }}</div>
      </div>
      <div class="col-2">
        <div>Hospital</div>
        <div>{{ profileInfo.clinicalData.hospital }}</div>
      </div>
    </div>

    <div *ngIf="profileInfo.creds.user === 'patient'">
      <mat-grid-list cols="2" rowHeight="30px" class="section-header mt-5 pb-5">
        <mat-grid-tile class="d-inline-block page-title">
          <h1 class="section-header_left position-absolute section-title">
            My Files
          </h1>
        </mat-grid-tile>
        <button mat-button class="btn-health float-right" (click)="openModal({type:'fileupload'})" >Add File</button>
      </mat-grid-list>
      <div class="row pl-6 pb-4 border-bottom" *ngIf="fileURL || files">
        <div class="col-12 float-left pb-2">
          <div>File Name</div>
        </div>
        <div class="col-12" *ngIf="fileURL">
          <mat-toolbar>
            <mat-toolbar-row class="row" style="background-color: #F7F6FF !important; font-size:15px;">
              <div class="col-6 float-left pl-0">Dicom File</div>
              <div class="col-6 float-right">
                <a class="download-button float-right"  (click)="downloadFile()" >View File</a>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="col-12" *ngIf="files">
          <mat-toolbar>
            <mat-toolbar-row class="row" style="background-color: #F7F6FF !important; font-size:15px;" *ngFor="let item of files" >
              <div class="col-6 float-left pl-0">Dicom File</div>
              <div class="col-6 float-right">
                <a class="download-button float-right" (click)="downloadFile(item.resource)" >View File</a>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>