<div>
  <mat-grid-list cols="2" rowHeight="30px" class="section-header">
    <mat-grid-tile class="d-inline-block page-title">
      <h1 class="section-header_left position-absolute section-title">
        Patients
      </h1>
    </mat-grid-tile>
    <button mat-button class="btn-health float-right" (click)="openModal({type:'qrcode', address: user.user.account})">
      Add Patients
    </button>
  </mat-grid-list>
  <div class="col text-center">
    <div *ngIf="!patients || !patients[0] || patients.length === 0">
      You do not have access to any patients
    </div>
  </div>
  <mat-accordion *ngIf="patients && patients[0] && patients.length > 0">
    <mat-expansion-panel *ngFor="let patient of patients; let index" [expanded]="patient.isShown" hideToggle>
      <mat-expansion-panel-header>
        <div class="row w-100">
          <div class="col-8">{{ patient.name }}</div>
          <div class="col-2">
            <a class="download-button" (click)="getProviders('0x'+patient.Account, patient, $event, true)">View File</a>
          </div>
          <div class="col-2">
            <a class="details-button float-right" (click)="getProviders('0x'+patient.Account, patient, $event)">
              <span [hidden]="!patient.isShown">Hide Details</span>
              <span [hidden]="patient.isShown">Show Details</span>
            </a>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div *ngIf="patientDetails">
        <div class="row pb-4 border-bottom">
          <div class="col-2">
            <div>First Name</div>
            <div class="userdata">{{ patientDetails.name[0].given[0] }}</div>
          </div>
          <div class="col-2">
            <div>Last Name</div>
            <div class="userdata">{{ patientDetails.name[0].family }}</div>
          </div>
          <div class="col-2">
            <div>Date of Birth</div>
            <div class="userdata">{{ patientDetails.birthDate }}</div>
          </div>
          <div class="col-2">
            <div>Gender</div>
            <div class="userdata">{{ patientDetails.gender }}</div>
          </div>
        </div>
        <div class="row pb-2 pt-4">
          <div class="col-2">
            <div>Address Line 1</div>
            <div class="userdata">{{ patientDetails.address[0].line[0] }}</div>
          </div>
          <div class="col-2">
            <div>Address Line 2</div>
            <div class="userdata">{{ patientDetails.address[0].line[0] }}</div>
          </div>
          <div class="col-2">
            <div>City</div>
            <div class="userdata">{{ patientDetails.address[0].city }}</div>
          </div>
          <div class="col-2">
            <div>State</div>
            <div class="userdata">{{ patientDetails.address[0].state }}</div>
          </div>
          <div class="col-2">
            <div>Area Code</div>
            <div class="userdata">{{ patientDetails.address[0].postalCode }}</div>
          </div>
          <div class="col-2">
            <div>Country</div>
            <div class="userdata">{{ patientDetails.address[0].country }}</div>
          </div>
        </div>
        <div class="col-md-12 pl-61 mt-30">
          <button mat-button class="btn-health mr-15" (click)="getPatientVisits(patientDetails)">Patients Visits</button>
          <button mat-button class="btn-health mr-15" (click)="getObservations(patientDetails)">Patients History</button>
          <button mat-button class="btn-health mr-15" (click)="getPrescriptions(patientDetails)">Prescriptions</button>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <div class="col-8">John Doe</div>
        <div class="col-2">
          <a class="download-button" routerLink="" (click)="download()">Download File</a>
        </div>
        <div class="col-2">
          <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
        </div>
      </mat-expansion-panel-header>
      <div class="col-2">
        <a class="download-button" routerLink="" (click)="download()">Download File</a>
      </div>
      <div class="col-2">
        <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button mat-button (click)="openModal()">OpenModal</button>
      </p>
    </mat-expansion-panel> -->
  </mat-accordion>
  <ngx-loading [show]="loading"></ngx-loading>
</div>